html, body, #root {
  height: 100%;
}

body {
  background-color: #a4967c !important;
  color: #3e3629;
  font-family: -apple-system, "Alegreya", Roboto, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* DivFadeinCss */
.fade-enter {
  opacity: 0.01;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

/* TODO: Remove this and do not use */
.bootstrap-style .game-clr {
  color: #6c4908 !important;
  font-weight: 700;
}

/* ========== OVERRIDE BOOTSTRAP CONROLS ========== */

.game-design .btn {
  font-weight: bold;
  color: #3e3629;
}

.game-design .btn:hover {
  color: #3e3629db;
}

.game-design .btn:focus {
  box-shadow: 0 0 0 0.2rem #3e362936 !important;
}

.game-design .btn-primary {
    color: #3e3629;
    background-color: #93b8c4;
    border-color: #3e3629;
    border-width: 3px;
    font-weight: bold;
}

.game-design .btn-primary:active,
.game-design .btn-primary:active,
.game-design .btn-primary:hover {
  color: #3e3629;
  background-color: #96bcc8;
  border-color: #3e3629;
  border-width: 3px;
  box-shadow: 0 0 0 0.2rem #96bcc8;
}

.game-design .btn-primary:focus,
.game-design .btn-primary.focus {
  color: #3e3629 !important;
  background-color: #96bcc8 !important;
  border-color: #3e3629 !important;
  border-width: 3px !important;
  box-shadow: 0 0 0 0.2rem #93b8c4a6 !important;
  outline: none;
}

/* ========== (END) OVERRIDE BOOTSTRAP CONROLS ========== */

.game-root-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.qm-editor {
  background-color: #fff;
}

.customized-label {
  font-weight: bold;
}

.button-text {
  margin-left: 6px;
}

/* .search-input {
  color: #3e3629;
  background-color: #a4967c;
  font-weight: bold;
  border: 3px solid #3e3629;
}

.search-input:focus {
  color: #3e3629;
  background-color: #a4967c;
  font-weight: bold;
  border: 3px solid #3e3629;
  box-shadow: none;
}

.search-input::placeholder {
  color: #3e3629;
} */

/* === <select> styles === */
/* === @link https://codepen.io/raubaca/pen/bGWmZje === */

select.customized-select {
  /* Reset */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 3px solid #3e3629;
  outline: 0;
  font: inherit;
  font-weight: bold;
  /* Personalize */
  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' viewBox='0 -256 1792 1792' id='svg2989' version='1.1' inkscape:version='0.92.4 (5da689c313, 2019-01-14)' width='100%25' height='100%25' sodipodi:docname='Caret_down_font_awesome_whitevariation.svg'%3E%3Cmetadata id='metadata2999'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs2997' /%3E%3Csodipodi:namedview pagecolor='%233e3629' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='640' inkscape:window-height='480' id='namedview2995' showgrid='false' inkscape:zoom='0.13169643' inkscape:cx='896' inkscape:cy='896' inkscape:window-x='0' inkscape:window-y='25' inkscape:window-maximized='1' inkscape:current-layer='svg2989' /%3E%3Cg transform='matrix(1,0,0,-1,402.44068,1239.8644)' id='g2991' style='fill:%233e3629'%3E%3Cpath d='m 1024,832 q 0,-26 -19,-45 L 557,339 q -19,-19 -45,-19 -26,0 -45,19 L 19,787 q -19,19 -19,45 0,26 19,45 19,19 45,19 h 896 q 26,0 45,-19 19,-19 19,-45 z' id='path2993' inkscape:connector-curvature='0' style='fill:%233e3629' /%3E%3C/g%3E%3C/svg%3E%0A") no-repeat right 0.8em center/1.4em, transparent;
  /* background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, transparent; */
  color: #3e3629;
  border-radius: 0.25em;
  box-shadow: none;
  cursor: pointer;
  /* <option> colors */
  /* Remove focus outline */
  /* Remove IE arrow */
}
select.customized-select option {
  color: #3e3629;
  background-color: #a4967c;
  font-weight: bold;
}
select.customized-select:focus {
  outline: none;
}
select.customized-select::-ms-expand {
  display: none;
}

/* === (END) <select> styles === */

.gameplay-buttons {
  display: flex;
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translate(-50%, 0);
}


/* === QUEST CARD === */

.quest-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.quest-card {
  font-family: "Alegreya Sans";
  transition: all 0.5s ease-out;
  position: relative;
  display: block;
  width: 250px;
  height: 350px;
  margin: 12px;
  background-color: #c74900;
  /* box-shadow: 0 0 0 12px #0000008a; */
}

.quest-card:hover {
  transform: translateY(-8px);
}
.quest-card:active {
  opacity: 0.9;
}

.quest-card,
.quest-card:hover,
.quest-card:visited
.quest-card:active {
  color: #00000033;
  text-decoration: none;
}

.quest-card-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  margin: 4px;
  margin-top: 50px;
  font-size: 30px;
}

.age-limit {
  position: absolute;
  left: 12px;
  bottom: 12px;
  background-color: #00000012;
  font-weight: bold;
  border-radius: 10px;
  padding: 4px 10px;
}

.quest-logo {
  position: absolute;
  opacity: 0.2;
  bottom: 0;
  right: 0px;
}

/* === (END) QUEST CARD === */

.welcome-message {
  font-size: 32px;
  color: #56503f;
}

.lang-button-box {
  position: absolute;
  right: 8px;
  top: 8px
}

.lang-button-box .lang-button {
  transition: opacity 250ms ease-in;
  font-size: 20px;
  color: #3e3629a3;
  border: 2px solid #3e362936;
  background-color: #0000000e;
  opacity: 0.7;
}

.lang-button-box .lang-button:hover {
  color: #3e3629a3;
  opacity: 1;
}

@media only screen and (min-width: 1023px) {
  .lang-button-box .lang-button {
    font-size: 28px;
  }
}