body {
  background-color: #a4967c !important;
  color: #3e3629;
  font-family: -apple-system, Roboto, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* DivFadeinCss */
.fade-enter {
  opacity: 0.01;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

/* TODO: Remove this and do not use */
.bootstrap-style .game-clr {
  color: #6c4908 !important;
  font-weight: 700;
}

/* ========== OVERRIDE BOOTSTRAP CONROLS ========== */

.game-design .btn {
  font-weight: bold;
  color: #3e3629;
}

.game-design .btn:hover {
  color: #3e3629db;
}

.game-design .btn-primary {
    color: #3e3629;
    background-color: #93b8c4;
    border-color: #3e3629;
    border-width: 3px;
    font-weight: bold;
}

.game-design .btn-primary:focus,
.game-design .btn-primary.focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem #93b8c4;
}

.game-design .btn-primary:not(:disabled):not(.disabled):active,
.game-design .btn-primary:not(:disabled):not(.disabled).active,
.game-design .btn-primary:active,
.game-design .btn-primary:hover {
  /* background-color: #3e3629;
  border-color: #aa781d;
  color: #aa781d; */
  color: #3e3629;
  background-color: #96bcc8;
  border-color: #3e3629;
  border-width: 3px;
  box-shadow: 0 0 0 0.2rem #96bcc8;
}

/* ========== (END) OVERRIDE BOOTSTRAP CONROLS ========== */

.quest-play-frame {
  border: 3px solid #3e3629;
}

.qm-editor {
  background-color: #fff;
}