.game-text {
  white-space: pre-wrap;
}
.game-fix {
  font-family: monospace;
  white-space: pre;
}

.game-root {
  flex-grow: 1;
  max-width: 920px;
  margin: 0 auto;
  font-weight: bold;
  color: #3e3629;
}
.game-root a {
  font-weight: 900;
  color: #3e3629;
}

.game-root a:hover {
  text-decoration: none;
  color: #575040;
}

.game-root .game-inactive {
  /* color: #747e80; */
  color: #60696b;
  pointer-events: none;
  cursor: default;
}
.game-root .game-clr {
  color: #825a10;
}
