.gameplay-button {
  margin-left: 5px;
  margin-right: 5px;
  width: 45px;
  height: 35px;
  border-radius: 10px;
  overflow: hidden;
  border: 3px solid #3e3629;
  background: none;
  position: relative;
  background-color: #93b8c4;
}

.gameplay-button:active,
.gameplay-button:focus,
.gameplay-button:hover {
  box-shadow: 0 0 0 0.2rem #96bcc8;
  background-color: #96bcc8;
  outline: none;
}

.gameplay-button:focus {
  box-shadow: 0 0 0 0.2rem #93b8c4a6;
  outline: none;
}

.gameplay-button-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  opacity: 0.5;
}
.gameplay-button:hover .gameplay-button-background {
  opacity: 0.8;
}
.gameplay-button:disabled .gameplay-button-background {
  opacity: 0.5; /* Keep previous opacity */
}

.gameplay-button-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #3e3629;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameplay-button:disabled {
  border-color: #00000033;
}
.gameplay-button:disabled .gameplay-button-content {
  color: #00000033;
}
